# Database Configuration
DB_HOST=161.132.41.68
DB_PORT=3306
DB_USER=uniq_admision
DB_PASSWORD="M1c4s1t4TI.2026"
DB_NAME=uniq_admision

# Email Configuration (SMTP)
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=admision@uniq.edu.pe
