# Database Configuration
DB_HOST=155.248.226.7
DB_PORT=3306
DB_USER=uniq_admision
DB_PASSWORD="M1c4s1t4TI.2026"
DB_NAME=uniq_admision


# Google Places API Key
GOOGLE_PLACES_API_KEY= AIzaSyBFyiTcguFf4v7GxOCV2PzT8YpCGnYfzUA
